.about-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-article {
  width: 80%;
  max-width: 600px;
  height: fit-content;
  background-color: var(--bg);
  padding: var(--space-xl);
  text-align: justify;
  border-radius: var(--border-radius);
  animation: colors 4s linear infinite;
}

h4 {
  font-family: var(--font-two);
  color: var(--text);
  font-size: var(--font-md);
}

.about-p {
  font-family: var(--font-three);
  font-size: var(--font-sm);
  color: var(--text-muted);
  text-indent: var(--space-lg);
}
