.contact-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-xl);
}

.form-container {
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  animation: colors 4s linear infinite;
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-xl);
  border-radius: var(--border-radius);
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--space-md);
}

label {
  font-family: var(--font-three);
  font-size: var(--font-sm);
}

input,
textarea {
  width: 100%;
  padding: var(--space-sm);
  background-color: var(--bg);
  border: 1px solid var(--text);
  border-radius: var(--border-radius);
  color: var(--text);
}

.text-input {
  height: 200px;
  width: 100%;
  padding: var(--space-sm);
}

.submit-input {
  margin-top: var(--space-md);
  border-radius: var(--border-radius);
  padding: var(--space-sm);
  font-family: var(--font-two);
  background-color: var(--bg);
  color: var(--text);
  font-size: var(--font-sm);
  border: none;
  box-shadow: 0px 0px 2px 0px var(--text);
  cursor: pointer;
  font-weight: 600;
}

.submit-input:hover {
  background-color: var(--text);
  color: var(--bg);
  box-shadow: 0px 0px 2px 0px var(--primary);
}

input:focus-within,
textarea:focus-within {
  background-color: var(--bg-light);
}
