@media screen and (min-width: 992px) {
  main {
    flex-direction: row;
  }
  .earth-gif {
    width: 360px;
    height: 360px;
  }
  .section-container {
    flex-direction: row;
  }
  h2 {
    font-size: var(--font-lg);
  }
  p {
    font-size: var(--font-md);
  }
  .main-img {
    height: 320px;
  }
  .section-img {
    height: 320px;
  }
}
