footer {
  width: 100%;
  padding: var(--space-xl);
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-lg);
}

footer > p {
  font-family: var(--font-three);
  color: var(--text-muted);
  font-size: var(--font-sm);
}

@media screen and (min-width: 992px) {
  footer > p {
    font-size: var(--font-md);
  }
}
