* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sacramento&family=Space+Grotesk:wght@300..700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tektur:wght@400..900&family=Text+Me+One&display=swap");

:root {
  /*Colors*/
  --bg-dark: oklch(0.1 0.02 233);
  --bg: oklch(0.15 0.02 233);
  --bg-light: oklch(0.2 0.02 233);
  --text: oklch(0.96 0.04 233);
  --text-muted: oklch(0.76 0.04 233);
  --highlight: oklch(0.5 0.04 233);
  --border: oklch(0.4 0.04 233);
  --border-muted: oklch(0.3 0.04 233);
  --primary: oklch(0.76 0.1 233);
  --secondary: oklch(0.76 0.1 53);

  /*Spacing*/
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 12px;
  --space-xl: 20px;
  --space-xxl: 48px;

  /*Border-Radius*/
  --border-radius: 3px;

  /*Fonts*/
  --font-one: "Text Me One", sans-serif;
  --font-two: "Space Grotesk", sans-serif;
  --font-three: "Spectral", serif;
  --font-sm: 10px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;

  /*Toastify notifications */
  --toastify-color-success: var(--primary);
  --toastify-text-color-light: var(--bg);
  --toastify-font-family: var(--font-three);
  --toastify-toast-shadow: 1px 1px 10px 1px var(--border);
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
}
