.reservation-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 100%;
  padding: var(--space-md);
  background-color: var(--bg);
  border: 1px solid var(--text);
  border-radius: var(--border-radius);
  color: var(--text);
}

.reservation-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.date-input {
  color: var(--text);
}

h5 {
  align-self: center;
  font-size: var(--font-lg);
  font-family: var(--font-two);
  color: var(--text-muted);
  padding: var(--space-sm);
}
